@font-face {
  font-family: "yekan";
  src: url("../../src/fonts/yekan-regular.eot");
  src: url("../../src/fonts/yekan-regular.eot?#iefix") format("FontName-opentype"), url("../../src/fonts/yekan-regular.woff") format("woff"), url("../../src/fonts/yekan-regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "yekan", sans-serif;
  font-weight: bolder;
  direction: rtl;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border: none;
  outline: none;
  transition: all 0.5s;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
}

.btn:hover {
  background: none;
}

.btn-danger {
  background: #fe7e6d;
  color: #fff;
}

.btn-danger:hover {
  border: 1px solid #fe7e6d;
  color: #fe7e6d;
}

.btn-gray {
  background: #f0ebe3;
  color: #413f42;
}

.btn-gray:hover {
  background: #413f42;
  color: #fff;
}

.btn-succes {
  background: #a7f726;
  color: #6f4a8e;
}

.btn-succes:hover {
  background: #413f42;
  color: #a7f726;
  border: 1px solid #a7f726;
}

.hidden-orders-submenu {
  display: none !important;
}

@font-face {
  font-family: "yekan";
  src: url("../../src/fonts/yekan-regular.eot");
  src: url("../../src/fonts/yekan-regular.eot?#iefix") format("FontName-opentype"), url("../../src/fonts/yekan-regular.woff") format("woff"), url("../../src/fonts/yekan-regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "yekan", sans-serif;
  font-weight: bolder;
  direction: rtl;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border: none;
  outline: none;
  transition: all 0.5s;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
}

.btn:hover {
  background: none;
}

.btn-danger {
  background: #fe7e6d;
  color: #fff;
}

.btn-danger:hover {
  border: 1px solid #fe7e6d;
  color: #fe7e6d;
}

.btn-gray {
  background: #f0ebe3;
  color: #413f42;
}

.btn-gray:hover {
  background: #413f42;
  color: #fff;
}

.btn-succes {
  background: #a7f726;
  color: #6f4a8e;
}

.btn-succes:hover {
  background: #413f42;
  color: #a7f726;
  border: 1px solid #a7f726;
}

.hidden-orders-submenu {
  display: none !important;
}

#login-modal {
  margin-top: 4rem;
  display: none;
  justify-content: center;
  align-items: center;
  background: #ecf0fc;
  color: #444;
  width: 100vw;
  position: relative;
  z-index: 100;
}

#login-modal .colse-modal {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 101;
  left: 0;
  top: 0;
  background: #e4fbff;
}

#login-modal .box {
  position: relative;
  z-index: 102;
  padding: 2rem 3rem;
  flex-direction: column;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecf0fc;
  color: #444;
  box-shadow: 1.3rem 1.3rem 2rem #cbced1, -1.3rem -1.3rem 2rem #fff;
  border-radius: 2.5rem;
}

#login-modal .box .close-modal {
  top: 3rem;
  right: 2rem;
  position: absolute;
  color: #fe7e6d;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#login-modal .box .close-modal:hover {
  color: #fccbcb;
}

#login-modal .box a {
  margin-top: 3rem !important;
  color: #fccbcb;
  font-size: 2rem;
  font-family: "yekan";
}

#login-modal .box h1,
#login-modal .box h2 {
  font-size: 2.5rem;
  margin: 1.5rem;
  color: #50e5b9;
  font-family: "yekan";
}

#login-modal .box .form {
  position: relative;
  width: 100%;
}

#login-modal .box .form .input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
}

#login-modal .box .form .input-group span {
  font-size: 1.4rem;
  color: #0fd89c;
  margin: 0.5rem 1rem;
}

#login-modal .box .form .input-group input {
  width: 100%;
  outline: none !important;
  background: none;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
  color: #fff;
  border-radius: 2rem;
  font-size: 1.8rem;
  border: 1px solid #e4fbff;
  padding: 1.5rem 2rem;
  color: #0fd89c;
}

#login-modal .box .form .remember-group {
  margin: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

#login-modal .box .form .remember-group p {
  font-size: 1.6rem;
  color: #02c8db;
}

#login-modal .box .form .remember-group input {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

#login-modal .box .form .submit {
  width: 100%;
  outline: none !important;
  background: #02c8db;
  color: #fff;
  font-size: 2rem;
  border-radius: 2.5rem;
  padding: 1rem 1.5rem;
  text-align: center;
  transition: all 0.5s;
  display: block;
  border: none;
  outline: none;
  box-shadow: 3px 3px 8px #ecf0fc, -3px -3px 8px #fff;
  transition: all 0.5s;
}

#login-modal .box .form .submit:hover {
  background: #50e5b9;
  color: #fff;
}

#login-modal .box .signUp {
  margin: 1rem;
}

#login-modal .box .signUp p {
  font-size: 1.4rem;
  color: #fe7e6d;
}

#login-modal .box .signUp a {
  width: 100%;
  outline: none !important;
  background: #fccbcb;
  color: #fff;
  font-size: 2rem;
  border-radius: 2.5rem;
  padding: 1rem 1.5rem;
  text-align: center;
  transition: all 0.5s;
  display: block;
  border: none;
  outline: none;
  box-shadow: 3px 3px 8px #ecf0fc, -3px -3px 8px #fff;
  transition: all 0.5s;
}

#login-modal .box .signUp a:hover {
  background: #50e5b9;
  color: #fff;
}

#login-modal .box .social {
  margin: 2rem;
}

#login-modal .box .social h4 {
  font-size: 1.6rem;
  color: #50e5b9;
}

#login-modal .box .social .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;
}

#login-modal .box .social .social-icons a {
  border: none !important;
  padding: 0.5rem 1rem;
  color: #50e5b9;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #ecf0fc, 8px 8px 15px #a7aaaf, -8px -8px 15px #fff;
  transition: all 0.5s;
}

#login-modal .box .social .social-icons a:hover {
  background: #50e5b9;
  color: #fff;
  box-shadow: 0 0 0 5px #50e5b9, 8px 8px 15px #02c8db, -8px -8px 15px #fff;
}

#login-modal .box .social .social-icons a i {
  font-size: 2.5rem;
}

#login-modal {
  margin: 0 !important;
  padding: 3rem;
  display: flex !important;
}
